@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-navy-deep text-slate-200 font-sans antialiased;
  }
  h1,
  h2,
  h3 {
    @apply font-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: "wght" 400, "opsz" 24;
}

.geometric-overlay {
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(255, 255, 255, 0.03) 1px,
    transparent 0
  );
  background-size: 32px 32px;
}